# Git
.git
.gitignore

# Node
node_modules
.yarn

# Build outputs
**/target
**/dist
**/build
**/.docusaurus

# IDE
.idea
.vscode
*.swp

# Docs
packages/docs

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local config
.env.local
